<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>需要注意</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        </style>
        <!-- Custom styles for this template -->
        <link href="css/sticky-footer.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">此文件需要在 PC 端完成下载</h1>
                <p class="lead">
                    这个文件需要在 PC 端完成下载，它不能被手机上的微信下载。
                </p>
                <h2 class="mt-5">
                    请按照以下指导将此文件发送到 PC 端，以顺利下载该文件。
                </h2>
                <br>
                <li>在您的电脑上打开微信电脑版。如果您的电脑上没有安装微信，可以在搜索引擎上搜索“微信 PC 版”来下载和安装。</li>
                <li>用手机扫码登录您的微信账号并确认登录。</li>
                <li>这时您的手机微信上应该会出现一个“文件传输助手”会话，请打开它。</li>
                <li>将您收到的下载链接复制下来，发送给“文件传输助手”。</li>
                <li>此链接即会出现在您电脑上的“文件传输助手”内。复制这个链接到您电脑的浏览器中即可开始下载。</li>
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">
                    Anti WeChat Browser API by Hikari Calyx Tech
                    <br>
                    {{ copyrightstring }}
                </span>
            </div>
        </footer>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/snippets.js"></script>
    </body>
</html>
